node_modules
.env
coverage
coverage.json
typechain
typechain-types
.deps/

# Hardhat files
cache
artifacts
deployedAddresses.json

website/node_modules
website/dist
website/.env.production
webiste/src/main.js
website/.env.staging
website/.gitignore
website/src/main.js
